# Not traced folders
bin/
lib/
lib64/
share/
build/
.vscode/
include/lemon
include/NTL
include/xflens
include/xframe
include/xsimd
include/xtensor
include/xtensor-blas
include/xtl
include/xtensor.hpp


# sim/output/

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

